{% extends "basic.html" %}
{% load static %}

 
    {% block head %}
   
{% endblock %}




{% block body %}

<div class="jumbotron">
    <h1 class="display-4">About</h1>
    <div class="lead">
        The motivation for working on this idea is that in the real world, some people feel
        bodily symptoms that can harm them, but lack awareness of their illness and are
        unable to provide timely treatment. There are a lot of them. Our project allows us to
        check for diseases earlier through machine learning algorithms. Patients provide
        symptoms along with this information. Our system makes disease predictions along
        with confidence values. The next feature of this project is that patients are aware of
        their disease and can consult the necessary doctors via communication media.
        Application of machine learning algorithms in the detection of various diseases,
        prediction of mal diagnosis of serious illnesses, automation of various medical
        procedures, etc. Among other things, patients can use various machine-learning
        algorithms to detect disease early in a cost effective and fast manner based on the
        early symptoms of the disease. The public can use this early prognosis to help
        decide which doctor to see and next steps in treatment. In this project, we created
        CUREIT a reliable system to predict disease based on symptoms provided by users.
        Certain symptoms can be fatal if not early detected. As a result, we are developing a
        system that can predict disease based on patient-reported symptoms, allowing
        patients to contact doctors online without leaving the comfort of their homes
        The online user support initiative is called the CUREIT. Users of the website can
        share their problem symptoms. Get their disease predicted and consult doctor online.
        Here we use a clever machine learning approach to identify diseases that can be
        most accurately associated with patient symptoms. When a doctor logs into the
        system, they have access to reports and patient details in the doctor module.
        Physicians can see details of a patient's search history and what the patient is likely
        to have searched for. Doctors have access to their personal data. Administrators can
        add new doctors, users, and feedbacks information in the database. Machine
        learning algorithms work on disease names and symptoms. Database administrators
        can see the symptoms of many diseases. If the user detects symptoms of his illness,
        the system will provide appropriate support.
        This is a service that allows you to easily make medical appointments and online
        consultations.
        Can be used by any clinic or pharmacy to manage patient data and results. Provide a
        medical records management solution with The Best Doctor Appointment feature.
        A patient's immediate symptoms can be examined and the system provides a
        confidence value. Patients do not have to leave home to see a doctor.

    </div>
    {% endblock %}
