{% extends "basic.html" %}
{% load static %}

 
    {% block head %}
   
{% endblock %}


{% block body %}


<div class="jumbotron">
    <h1 class="display-4">Our Network Hospitals</h1>
    <h3 class="lead">
        Hospital Name & Address	Phone
<ol><li><h3>Pristyn Care - Dwarka</h3>
Plot 448, 1st Floor Sector 19,Dwarka , New Delhi - 110075
<a href="https://www.w3schools.com">Pritin care</a>
</li>

<iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJKawUhNoFDTkRi4sj-25SPRM&key=AIzaSyBr8RQFjlLXKfV5smF9EGPrLV86VX2C0TM"></iframe>
<li><h3>Max Hospital</h3>

A1/26, adjacent to Green Fields Public School, Safdarjung Enclave , New Delhi - 110029	
Akash Hospital</li>
<iframe width="600" height="450" style="border:0" loading="lazy" 
allowfullscreen src="https://www.google.com/maps/embed/v1/search?q=Max%20Hospital%2C%20Block%20AG%2C%20Poorbi%20Shalimar%20Bag%2C%20Shalimar%20Bagh%2C%20New%20Delhi%2C%20Delhi%2C%20India&key=AIzaSyBr8RQFjlLXKfV5smF9EGPrLV86VX2C0TM"></iframe>

<li><h3>Apollo Hospital</h3>
    Plot 448, 1st Floor Sector 19,Saket, New Delhi - 110075
    <a href="https://www.w3schools.com">Apollo Hospital</a>
    </li>
    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJmarqE63mDDkRd228dtR6wDs&key=AIzaSyBr8RQFjlLXKfV5smF9EGPrLV86VX2C0TM"></iframe>

    </div>
    {% endblock %}
